body {
  background-image: url("Assets/Images/background.png");
  background-size:cover;
  font-family: 'Bangers', cursive;
  text-align: center;
}

#gif {
  max-width: 1280px;
  min-width:  720px;
}

iframe {
  margin: 0 auto;
}

/* Ben Martin 2019 */
